body {
    height: 2041px;
}

.wrapper {
    max-width: 1152px;
    height: 2041px;
    background-color: #E5E5E5;
    margin: 0 auto;
}

/* footer  */
ul {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: end;
    margin-right: 60px;
    padding-top: 27px;
    gap: 33px;
    list-style: none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    z-index: 10;
}
.footer a {
    color:  #000000;
    text-decoration: none;
}

/* hi section */

.hi-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.container {
    max-width: 856px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2041px;
}

.container-text {
    font-family: 'Heebo';
    font-style: normal;
}

.container-text h1 {
    margin-top: 228px;
    font-weight: 700;
    font-size: 44px;
}

.container-text p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
}

.container-text button {
    color: white;
    width: 208px;
    height: 47px;
    font-weight: 500;
    font-size: 20px;
    background: #FF6464;
    border-radius: 2px;
    border: none;
    outline: none;
}

.container-text img {
    position: absolute;
    right: 0;
    top: 210px;
    z-index: 1;
}

#circle {
    background-color: #EDF7FA;
    position: absolute;
    top: 223px;
    right: 0;
    border-radius: 50%;
    width: 243px;
    height: 243px;
    z-index: 0;
}

/* recent posts section */
.recent-posts2 {
    position: absolute;
    background: #EDF7FA;
    width: 1152px;
    top: 595px;
    height: 396px;
}

.recent-posts {
    background: #EDF7FA;
    position: absolute;
    height: 396px;
    top: 595px;
    right: 0;
    left: 0;
}

.container-text2 {
    display: flex;
    font-family: 'Heebo';
    font-style: normal;
}

.recent-posts h1 {
    padding-top: 7px;
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}

.recent-posts a {
    text-decoration: none;
    position: absolute;
    right: 0;
    padding-top: 8px;
}